<div class="container m-3">
  <div class="row d-flex justify-content-between">
    <h1><%= @cocktail.name %></h1>
  </div>
  <div class="row">
    <% if @cocktail.photo.attached? %>
      <%= cl_image_tag(@cocktail.photo.key, width: 400, height: 300, crop: :fill) %>
    <% end %>
    <div class="m-3">
      <h2 class="d-flex justify-content-center">Doses</h2>
      <%= simple_form_for [ @cocktail, @dose ] do |f| %>
        <%= f.association :ingredient %>
        <%= f.input :description %>
        <%= f.submit "Add New Dose", class: "btn btn-gradient" %>
      <% end %>
    </div>
  </div>

  <h3 class="m-3">Doses</h3>
  <ul>
    <% @cocktail.doses.each do |dose| %>
      <li>
        <%= "#{dose.description} de #{dose.ingredient.name}" %>
      </li>
    <% end %>
  </ul>

  <p><%= link_to 'Home', cocktails_path, class: "btn btn-gradient" %></p>
</div>